body{
	background:linear-gradient(steelblue,  lightblue,lightblue, steelblue);

}


h1{
	font-family: sans-serif;
	color:#0140A2;
	text-align: center;

	
	
}

#contenedor{
  background: lightcyan;
	height: 750px;
  width: 1300px;
  margin-left: 150px;
  margin-top: 40px;
  border-color: steelblue;
  border-width: 6px;
  border-style: solid;
  border-radius: 20px;

}

form{
background: skyblue;
height: 300px;
width: 200px;
border-style: solid;
padding: 10px;
margin-left: 180px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: steelblue;


}

input{

	padding: 5px;
	margin: 10px;

}

select{
	padding: 5px;
	margin: 10px;

}

img{
height: 200px;
width: 600px;
 margin-bottom: 10px;
 	margin-left:270px;
}

a{
    font-family: sans-serif;
	color:#0140A2;
	text-align: center;
	margin-left:180px;
	margin-bottom: 30px;
	font-size: 20px;
	padding-top: 10px;



}

.boton{

	margin-left: 100px;
}

table{

font-family: sans-serif;
	color:#0140A2;
	 

background: skyblue;
height: 100px;
width: 90px;
border-style: solid;
padding: 5px;
margin-left: 480px;
  margin-top: -350px;
  border-radius: 20px;
  border-color: steelblue;

}


